@{
    ViewBag.Title = "IGuide";
}

<div class="jumbotron">
    <h1>What is IGuide ?</h1>
    <p class="lead">IGuide is an application which will recommend places related to interest of a person on the basis of a person’s twitter network. Application will recommend place related to four interests which are usually movies, sports, shopping places and restaurant places. The application will get access to user’s tweets and list of followers. </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        
        <h2>Tweets &amp; Followers</h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Pre Processing</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Crowd Source Data</h2>
    </div>
</div>